.heading {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.heading Button {
  margin-top: 1rem;
}
.form-comp {
  display: flex;
  justify-content: space-between;
  width: 24%;
  height: 42px;
  margin: auto;
}
.stats {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  font-size: 2rem;
}
.css-1bsgmhw {
  text-align: center;
}
.css-1t2gott {
  text-align: center;
}
